.desktop-datepicker {
    visibility: hidden;
}
.mobile-datepicker {
    visibility: visible;
}
@media screen and (min-width: 480px) {
}
@media screen and (min-width: 678px) {
    .mobile-datepicker {
        visibility: hidden;
    }
    .desktop-datepicker {
        visibility: visible;
    }
}
@media screen and (min-width: 992px) {
}
@media screen and (min-width: 1200px) {
} 